.btn p {
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    width: 55%;
    height: 87%;
    font-family: 'Open Sans', sans-serif;
}

.img2 {
    padding: 1px;
    width: 115%;
}

.btn .imagen {
    width: 17%;
}