.tituloAbrir h2 {
    margin-left: 26%;
    margin-bottom: 5%;
    color: #032655;
}

.inputPrin {
    display: flex;
    justify-content: center;
}

input[type=text] {
    width: 24%;
    box-sizing: border-box;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    background-color: #fff;
    background-image: url('../imagenCaja_files/credit-card-front-regular-24.png');
    background-position: 10px 16px;
    background-repeat: no-repeat;
    padding: 18px 20px 14px 40px;
    transition: width 0.4s ease-in-out;
    outline: none;
}

.inputPrin .telefono {
    width: 20%;
    padding: 18px 20px 14px 40px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background-color: #fffffff;
    margin-left: 5%;
    outline: none;
}

.correo {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.correo input {
    width: 49%;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    padding: 18px 20px 14px 40px;
    outline: none;

}

.checkbox {
    margin-top: 2%;
    margin-left: 31%;
    font-size: 20px;
    color: #032655;
    margin-bottom: -3%;

}

.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: none;
    border: 2px solid #032655;
}

.container-check:hover input~.checkmark {
    background-color: #ccc;
}

.container-check input:checked~.checkmark {
    background-color: #032655;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-check input:checked~.checkmark:after {
    display: block;
}

.container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}