.tituloTipoC {
    margin-left: 12%;
    font-family: 'open sans-serif';
}

.tituloTipoC h1 {
    margin-bottom: 5%;
    color: #152654;
}

.tituloTipoC h3 {
    font-size: 140%;


}

.detalles {
    border-left: 20px solid #152654;
}

.btn-volver {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.btn-volver button {
    border: 3px solid #152654;
    border-radius: 9px;
    width: 14%;
    padding: 1%;
    font-size: 130%;
    background: none;
    color: #152654;
    font-family: 'Open Sans', sans-serif;

}