/* screen - 64 */

.x64 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}


.x64 .container-mensaje-transferenciaI {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 64px;
  justify-content: flex-start;
  min-width: 793px;
  position: relative;
  margin-bottom: 5%;
}

.x64 .puedes-agregar-una-o-eoQh1L {
  background-color: transparent;
  height: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 793px;
}

.x64 .span0-Vdr68g {
}

.x64 .span1-Vdr68g {
}

.x64 .span2-Vdr68g {
}

.x64 .container-botones-transferenciaI {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 23px;
  justify-content: flex-start;
  min-height: 136px;
  min-width: 793px;
  position: relative;
  margin-top: 5%;
}

.x64 .container-btn-transferencia-propia {
  background-color: transparent;
  height: 136px;
  position: relative;
  width: 385px;
}

.x64 .frame-23531-NzPfpy {
  align-items: center;
  background-color: var(--alabaster-2);
  border-radius: 8px;
  box-shadow: 0px 3px 7px #00000040;
  display: flex;
  height: 136px;
  justify-content: space-between;
  left: 0px;
  mix-blend-mode: normal;
  padding-right: 10px;
  position: absolute;
  top: 0px;
  width: 385px;
}

.x64 .frame-23648-ksk9pb {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 136px;
  min-width: 301px;
  position: relative;
}

.x64 .rectangle-34-AFWeix {
  background-color: var(--pelorous);
  border-radius: 8px 0px 0px 8px;
  height: 136px;
  mix-blend-mode: normal;
  position: relative;
  width: 9px;
}

.x64 .ellipse-9-AFWeix {
  background-color: transparent;
  border-radius: 28px;
  height: 56px;
  position: relative;
  width: 56px;
}

.x64 .frame-23530-AFWeix {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: center;
  min-height: 76px;
  min-width: 172px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x64 .cable-internet-I992TA {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x64 .evaarrow-ios-forward-fill-ksk9pb {
  background-color: transparent;
  min-height: 48.06201171875px;
  min-width: 48.706787109375px;
  mix-blend-mode: normal;
  position: relative;
}

.x64 .grupo-1139-NzPfpy {
  background-color: transparent;
  height: 56px;
  left: 41px;
  position: absolute;
  top: 40px;
  width: 56px;
}

.x64 .container-transferencia-tercero {
  background-color: transparent;
  height: 136px;
  position: relative;
  width: 385px;
}

.x64 .frame-23535-6hfcSx {
  align-items: center;
  background-color: var(--alabaster-2);
  border-radius: 8px;
  box-shadow: 0px 3px 7px #00000040;
  display: flex;
  height: 136px;
  justify-content: space-between;
  left: 0px;
  mix-blend-mode: normal;
  padding-right: 10px;
  position: absolute;
  top: 0px;
  width: 385px;
}

.x64 .frame-23648-UaxQHB {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  min-height: 136px;
  min-width: 312px;
  position: relative;
}

.x64 .rectangle-34-U21VLR {
  background-color: var(--pelorous);
  border-radius: 8px 0px 0px 8px;
  height: 136px;
  mix-blend-mode: normal;
  position: relative;
  width: 9px;
}

.x64 .ellipse-9-U21VLR {
  background-color: transparent;
  border-radius: 28px;
  height: 56px;
  position: relative;
  width: 56px;
}

.x64 .frame-23530-U21VLR {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: center;
  min-height: 76px;
  min-width: 183px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x64 .cable-internet-qw9NXE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x64 .evaarrow-ios-forward-fill-UaxQHB {
  background-color: transparent;
  min-height: 48.06201171875px;
  min-width: 48.706787109375px;
  mix-blend-mode: normal;
  position: relative;
}

.x64 .icon-user-6hfcSx {
  background-color: transparent;
  height: 56px;
  left: 41px;
  position: absolute;
  top: 40px;
  width: 56px;
}
