/* screen - 332 */

.x332 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x332 .group-12781-MvddmL {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x332 .group-46-nsexPY {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.x332 .getty-images-1083913610-1-BQRhKj {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x332 .rectangle-15-BQRhKj {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x332 .frame-23819-MvddmL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.x332 .frame-23811-wXwfYq {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  min-height: 376px;
  min-width: 1080px;
  position: relative;
}

.x332 .frame-12627-variant2-W2Whmx {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.x332 .frame-23810-W2Whmx {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.x332 .bienvenido-que-deseas-realizar-KmP5Di {
  background-color: transparent;
  height: 76px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x332 .frame-23816-wXwfYq {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: center;
  min-height: 400px;
  min-width: 956px;
  position: relative;
}

.x332 .frame-23812-OO56gO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 400px;
  min-width: 466px;
  position: relative;
}

.x332 .group-12821-287f1o {
  background-color: transparent;
  height: 296px;
  position: relative;
  width: 466px;
}

.x332 .group-12783-T0bYRe {
  background-color: transparent;
  height: 296px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.x332 .rectangle-15-lG1d1u {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 296px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 466px;
}

.x332 .frame-23666-lG1d1u {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 296px;
  justify-content: center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.x332 .group-48-6zr4wA {
  background-color: transparent;
  height: 126.62420654296875px;
  position: relative;
  width: 128px;
}

.x332 .ellipse-7-WCwkEL {
  background-color: var(--pelorous);
  border-radius: 64px/63.31px;
  height: 127px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 128px;
}

.x332 .frame-12821-WCwkEL {
  background-color: transparent;
  height: 121px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 122px;
}

.x332 .sin-tarjeta-6zr4wA {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x332 .vector-T0bYRe {
  background-color: transparent;
  height: 59px;
  left: 203px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 60px;
}

.x332 .frame-12821-287f1o {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  min-height: 56px;
  position: relative;
  width: 466px;
}

.x332 .group-62-gqp1Zg {
  background-color: transparent;
  height: 56px;
  position: relative;
  width: 56px;
}

.x332 .debes-tener-tu-tarje-gqp1Zg {
  background-color: transparent;
  height: 52px;
  letter-spacing: -0.20px;
  line-height: 25px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 385px;
}

.x332 .frame-23813-OO56gO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 400px;
  min-width: 466px;
  position: relative;
}

.x332 .group-12821-ux1l9K {
  background-color: transparent;
  height: 296px;
  position: relative;
  width: 466px;
}

.x332 .group-12783-g66Cpv {
  background-color: transparent;
  height: 296px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.x332 .rectangle-15-XxDWeH {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 296px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 466px;
}

.x332 .frame-23666-XxDWeH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 296px;
  justify-content: center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.x332 .group-48-Bd0Clv {
  background-color: transparent;
  height: 126.62420654296875px;
  position: relative;
  width: 128px;
}

.x332 .ellipse-7-Fn7Z26 {
  background-color: var(--pelorous);
  border-radius: 64px/63.31px;
  height: 127px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 128px;
}

.x332 .frame-12821-Fn7Z26 {
  background-color: transparent;
  height: 121px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 122px;
}

.x332 .sin-tarjeta-Bd0Clv {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x332 .group-g66Cpv {
  background-color: transparent;
  height: 51px;
  left: 207px;
  position: absolute;
  top: 95px;
  width: 51px;
}

.x332 .frame-12821-ux1l9K {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  min-height: 56px;
  position: relative;
  width: 466px;
}

.x332 .group-62-aSCBEM {
  background-color: transparent;
  height: 56px;
  position: relative;
  width: 56px;
}

.x332 .te-permite-acceder-a-aSCBEM {
  background-color: transparent;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: 25px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 385px;
}
