/* screen - 339 */

.x339 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x339 .group-12781-GT2xaC {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x339 .group-46-io5YtB {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.x339 .getty-images-1083913610-1-j6D0r4 {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x339 .rectangle-15-j6D0r4 {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x339 .frame-23811-GT2xaC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.x339 .frame-12627-variant2-9pYjdY {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.x339 .frame-23818-9pYjdY {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 784px;
  min-width: 956px;
  position: relative;
}

.x339 .frame-23810-OSbNHr {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.x339 .frame-23716-pvNfBx {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 240px;
  position: relative;
}

.x339 .grupo-1140-b9dxco {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x339 .frame-23713-b9dxco {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 192px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x339 .caja-digital-bnZNlK {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x339 .frame-23624-OSbNHr {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 632px;
  mix-blend-mode: normal;
  padding-bottom: 48px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 48px;
  position: relative;
  width: 956px;
}

.x339 .frame-12755-mEpIUB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 536px;
  position: relative;
  width: 792px;
}

.x339 .frame-23641-GrquIQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  height: 64px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 792px;
}

.x339 .group-12765-LXuzxC {
  background-color: transparent;
  height: 29.578125px;
  margin-left: -1.059535026550293px;
  position: relative;
  width: 29.880859375px;
}

.x339 .frame-23640-LXuzxC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 48px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  width: 764px;
}

.x339 .su-cuenta-con-biomet-E1sMEJ {
  -webkit-text-stroke: 1px var(--pelorous);
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 754px;
}

.x339 .group-12754-GrquIQ {
  background-color: transparent;
  height: 464px;
  position: relative;
  width: 792px;
}

.x339 .frame-23629-7x8zjH {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  left: 0px;
  position: relative;
  top: 0px;
  width: 792px;
}

.x339 .frame-23623-a6p6un {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  min-height: 462px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 301px;
}

.x339 .frame-23616-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x339 .fecha-y-hora-jaJ7S1 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .x20072020-1230-jaJ7S1 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .frame-23617-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x339 .tipo-de-cuenta-v9YM8h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .ahorro-rentable-v9YM8h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .frame-23620-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x339 .documento-de-identidad-I7RudM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .dni-I7RudM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .frame-23621-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 301px;
}

.x339 .n-de-documento-de-identidad-YPSc9j {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .x70653455-YPSc9j {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 204px;
}

.x339 .frame-23624-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 49px;
  position: relative;
  width: 245px;
}

.x339 .correo-electrnico-lKa5dX {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .yenifergmailcom-lKa5dX {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x339 .frame-23623-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 49px;
  position: relative;
  width: 245px;
}

.x339 .celular-GuxtcS {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .x905678341-GuxtcS {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x339 .frame-23627-a6p6un {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 464px;
  justify-content: center;
  mix-blend-mode: multiply;
  position: relative;
  width: 384px;
}

.x339 .frame-23637-meTzi0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 196px;
  justify-content: center;
  min-width: 301px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x339 .frame-23638-enJerw {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  margin-bottom: -6px;
  margin-top: -6px;
  min-height: 188px;
  min-width: 281px;
  position: relative;
}

.x339 .frame-23637-zBXGGy {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 188px;
  min-width: 281px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x339 .frame-23638-Hm0mcr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 86px;
  min-width: 261px;
  position: relative;
}

.x339 .frame-23625-HAoZ0I {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 38px;
  min-width: 167px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x339 .monto-yfvAxv {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .frame-23626-HAoZ0I {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 261px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x339 .x0000-4545-5454-2345-VztXlz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x339 .frame-23639-Hm0mcr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 66px;
  min-width: 256px;
  position: relative;
}

.x339 .frame-106-L3HWGr {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: center;
  min-height: 28px;
  position: relative;
  width: 206px;
}

.x339 .cci-JaUuG1 {
  background-color: transparent;
  flex: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 206px;
}

.x339 .frame-105-L3HWGr {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 28px;
  min-width: 256px;
  position: relative;
}

.x339 .x0000-4545-5454-2345-mL4dqt {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 256px;
}
