/* screen - 351 */

.x351 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x351 .group-12781-omfW8j {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x351 .group-46-0xQqRN {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.x351 .getty-images-1083913610-1-qBzxZO {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x351 .rectangle-15-qBzxZO {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x351 .frame-23811-omfW8j {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.x351 .frame-12627-variant2-6bH3MW {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.x351 .frame-23818-6bH3MW {
  align-items: center;
  background-color: var(--white-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 950px;
  min-width: 956px;
  mix-blend-mode: normal;
  position: relative;
}

.x351 .frame-23810-h1wUuL {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.x351 .frame-23716-h5utvC {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 365px;
  position: relative;
}

.x351 .grupo-1140-QILgZE {
  background-color: transparent;
  height: 48px;
  margin-left: -0.5px;
  position: relative;
  width: 48px;
}

.x351 .frame-23713-QILgZE {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 317px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x351 .informacin-cliente-xWESe7 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .frame-23828-h1wUuL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 320px;
  min-width: 793px;
  position: relative;
}

.x351 .frame-23827-1z9Mu1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  min-height: 154px;
  min-width: 792px;
  padding-top: 8px;
  position: relative;
}

.x351 .frame-23555-variant2-3ZQCqN {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 146px;
  min-width: 384px;
  padding-top: 8px;
  position: relative;
}

.x351 .frame-23647-SQu1IX {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 286px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x351 .texto-x8kR0O {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .inactivo-SQu1IX {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x351 .frame-23572-velqw9 {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.x351 .escribir-texto-imput-1ayqAW {
  background-color: transparent;
  flex: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 334px;
}

.x351 .frame-23555-variant2-pAkC5t {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 146px;
  min-width: 384px;
  padding-top: 8px;
  position: relative;
}

.x351 .frame-23647-xA9pNk {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 90px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x351 .texto-lz8QZA {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .inactivo-xA9pNk {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x351 .frame-23572-B4JTFh {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.x351 .escribir-texto-imput-bgxICt {
  background-color: transparent;
  flex: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 334px;
}

.x351 .frame-23553-variant3-1z9Mu1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 142px;
  min-width: 793px;
  padding-top: 8px;
  position: relative;
}

.x351 .texto-sggPge {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 38px;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .inactivo-sggPge {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 793px;
}

.x351 .escribir-texto-imput-GhDqTD {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .frame-23830-h1wUuL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 182px;
  position: relative;
  width: 793px;
}

.x351 .frame-23772-5k5OG0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 54px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
  width: 677px;
}

.x351 .confirma-si-cumples-con-estos-requisitos-sxlFxp {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .frame-23773-5k5OG0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  min-height: 40px;
  min-width: 598px;
  padding-right: 10px;
  position: relative;
}

.x351 .group-123-HRXpCA {
  background-color: transparent;
  height: 40px;
  margin-left: -0.5px;
  position: relative;
  width: 40px;
}

.x351 .frame-23774-HRXpCA {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 532px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x351 .nac-en-per-y-mi-nica-FJL9au {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .frame-23829-5k5OG0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  min-height: 40px;
  min-width: 671px;
  padding-right: 10px;
  position: relative;
}

.x351 .group-123-URBxjC {
  background-color: transparent;
  height: 40px;
  margin-left: -0.5px;
  position: relative;
  width: 40px;
}

.x351 .frame-23774-URBxjC {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 605px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x351 .cuento-con-domicilio-tR9xv7 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x351 .frame-23562-h1wUuL {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: center;
  min-height: 200px;
  padding-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 56px;
  position: relative;
}

.x351 .frame-23537-variant3-BNEWVb {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x351 .texto-Si8fMg {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x351 .frame-23537-variant3-yUWKDQ {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x351 .texto-A3tbza {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x351 .ios-keyboard-phone-omfW8j {
  background-color: #202325;
  box-shadow: -28.100000381469727px 146.0800018310547px 170px #779ec242;
  height: 642px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1278px;
  width: 1080px;
}

.x351 .letters-layout-kb63Hr {
  background-color: transparent;
  height: 556px;
  left: 13px;
  position: relative;
  top: 57px;
  width: 1053px;
}

.x351 .key-ZvijW1 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 54px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-ZqRzEt {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-8EG6rh {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-7zTIZU {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-mMNPPn {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-OBzKxd {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-S2cYGx {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 161px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-LcTzaJ {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-y55OX0 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-J1V9Rm {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 161px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-pcfwLZ {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-nPEYGe {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-pObptF {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 107px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-KQsRMx {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-19UP0L {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-0k8xAs {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 268px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-lYPgxz {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-xxdeMB {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-OyKRxE {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 268px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-QhhAak {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-ympGsH {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-xRe2xz {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 214px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-iPUN8v {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-mi5t0E {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-o5gPnc {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 375px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-Ar2FSY {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-qPr9JE {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-hS8RfT {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 375px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-XhSL0i {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-CbgF6a {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-JymXVs {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 321px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-LueWqs {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-xyv7Xc {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-tzFbVs {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 482px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-aQirE8 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-EGgFoL {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-LimP0E {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 482px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-ecu33J {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-gDqMiB {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .text-key-ZvijW1 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 375px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 411px;
}

.x351 .numbers-f3vgSY {
  background-color: transparent;
  height: 104px;
  left: 1px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 410px;
}

.x351 .letter-5Z5mt7 {
  background-color: transparent;
  height: 104px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 410px;
}

.x351 .text-key-7zTIZU {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 803px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 250px;
}

.x351 .numbers-8qq6cC {
  background-color: transparent;
  height: 104px;
  left: 1px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 249px;
}

.x351 .letter-PxDRhC {
  background-color: transparent;
  height: 104px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 249px;
}

.x351 .key-TMijhL {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 428px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-xxBlIR {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-Zxux6H {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-V2GFxi {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 589px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-Glxia4 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-LS9XiK {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-yokqM0 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 589px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-3I0zuY {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-2Krahq {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-b5J47S {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 535px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-4LxYuv {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-wOeUW0 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-BF9NzM {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 696px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-AtbcJX {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-blxdcD {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-qJBRZv {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 696px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-NuRwJw {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-lTN0Zi {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-h9Kkpp {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 642px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-5bb0xa {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-PjZLtz {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-kn5Jz2 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 803px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-ZDKUmN {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-ubXnnY {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-zYsNIQ {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 803px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.x351 .v1-kRN9Ks {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-mZPwh1 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-gm4c9O {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 749px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-XgMdLc {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-4FvLy0 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-QgK7Db {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 910px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.x351 .v1-uRIVBH {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-G6nHdW {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-S6MLt3 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 856px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-qbaji1 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-n3YK17 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .key-K3Ihrt {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 963px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.x351 .v1-7MFVrN {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.x351 .letter-sIdhlx {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.x351 .special-key-ZvijW1 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 268px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 90px;
}

.x351 .micro-7x4nxI {
  background-color: transparent;
  height: 54px;
  left: 18px;
  position: relative;
  top: 31px;
  width: 54px;
}

.x351 .rectangle-46-0Wq5hz {
  background-color: transparent;
  height: 35px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x351 .rectangle-45-0Wq5hz {
  background-color: transparent;
  border: 3px solid var(--white);
  border-radius: 50px;
  height: 33px;
  left: 19px;
  position: absolute;
  top: 3px;
  width: 15px;
}

.x351 .special-key-7zTIZU {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 134px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 117px;
}

.x351 .globe-GvwZHy {
  background-color: transparent;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31px;
  width: 54px;
}

.x351 .text-key-S2cYGx {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 117px;
}

.x351 .numbers-BEHuEF {
  background-color: transparent;
  height: 104px;
  left: 1px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 116px;
}

.x351 .letter-KWGxCA {
  background-color: transparent;
  height: 104px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 116px;
}

.x351 .special-key-S2cYGx {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 294px;
  width: 117px;
}

.x351 .arrow-lV0rwV {
  background-color: transparent;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  position: relative;
  top: 31px;
  width: 54px;
}

.x351 .vector-13-GD8kos {
  background-color: transparent;
  height: 43px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 47px;
}

.x351 .special-key-J1V9Rm {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 936px;
  mix-blend-mode: normal;
  position: absolute;
  top: 294px;
  width: 117px;
}

.x351 .delete-4NLcnl {
  background-color: transparent;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  position: relative;
  top: 31px;
  width: 54px;
}

.x351 .ios-zE9y9y {
  background-color: transparent;
  height: 40px;
  left: -2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 54px;
}
