/* screen - 352 */

.x352 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x352 .group-12781-uQ4q7m {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x352 .group-46-Ubm4xz {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.x352 .getty-images-1083913610-1-AfiNAt {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x352 .rectangle-15-AfiNAt {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x352 .frame-23811-uQ4q7m {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.x352 .frame-12627-variant2-Gh3W7l {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.x352 .frame-23818-Gh3W7l {
  align-items: center;
  background-color: var(--white-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 1115px;
  min-width: 956px;
  mix-blend-mode: normal;
  position: relative;
}

.x352 .frame-23810-JZk1mp {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.x352 .frame-23716-ozxpSL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 240px;
  position: relative;
}

.x352 .grupo-1140-LaR7KA {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x352 .frame-23713-LaR7KA {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 192px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x352 .caja-digital-V0Z38x {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x352 .frame-23828-JZk1mp {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 490px;
  min-width: 793px;
  position: relative;
}

.x352 .frame-23555-0ZM5BM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 144px;
  padding-top: 8px;
  position: relative;
  width: 793px;
}

.x352 .frame-23646-ZBoMLE {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 189px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x352 .texto-FX9KT2 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x352 .inactivo-ZBoMLE {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 793px;
}

.x352 .frame-23572-iNRWSI {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.x352 .escribir-texto-imput-WTGCM7 {
  background-color: transparent;
  flex: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 708.7692260742188px;
}

.x352 .vector-WTGCM7 {
  background-color: transparent;
  height: 14.0537109375px;
  margin-right: -0.11557169042032456px;
  mix-blend-mode: normal;
  position: relative;
  width: 25.23095703125px;
}

.x352 .frame-23828-0ZM5BM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 144px;
  padding-top: 8px;
  position: relative;
  width: 793px;
}

.x352 .frame-23646-tPfg99 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 248px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x352 .texto-hA3bi4 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x352 .inactivo-tPfg99 {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 793px;
}

.x352 .frame-23572-8axASZ {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.x352 .escribir-texto-imput-gKH6Ep {
  background-color: transparent;
  flex: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 708.7692260742188px;
}

.x352 .vector-gKH6Ep {
  background-color: transparent;
  height: 14.0537109375px;
  margin-right: -0.11557169042032456px;
  mix-blend-mode: normal;
  position: relative;
  width: 25.23095703125px;
}

.x352 .frame-23827-0ZM5BM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  min-height: 154px;
  min-width: 792px;
  padding-top: 8px;
  position: relative;
}

.x352 .frame-23555-variant2-eBq6xJ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 146px;
  min-width: 384px;
  padding-top: 8px;
  position: relative;
}

.x352 .frame-23647-HssYtH {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 174px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x352 .texto-bmb4ZC {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x352 .inactivo-HssYtH {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x352 .frame-23572-yAYcZh {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.x352 .escribir-texto-imput-yxHeVu {
  background-color: transparent;
  color: #00265580;
  flex: 1;
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 334px;
}

.x352 .frame-23555-variant2-Hq7a8G {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 146px;
  min-width: 384px;
  padding-top: 8px;
  position: relative;
}

.x352 .frame-23647-ThP6jc {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 113px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x352 .texto-xR5D9y {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x352 .inactivo-ThP6jc {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x352 .frame-23572-A6BmIu {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.x352 .escribir-texto-imput-PDZhTj {
  background-color: transparent;
  color: #00265580;
  flex: 1;
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 334px;
}

.x352 .frame-23830-JZk1mp {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 177px;
  position: relative;
  width: 793px;
}

.x352 .frame-23772-RceXdK {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 54px;
  min-width: 724px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
}

.x352 .por-favor-revisa-y-a-xdZrKZ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x352 .frame-23773-RceXdK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  min-height: 99px;
  padding-right: 10px;
  position: relative;
  width: 793px;
}

.x352 .group-123-EBDPKJ {
  background-color: transparent;
  height: 40px;
  margin-left: -0.5px;
  position: relative;
  width: 40px;
}

.x352 .frame-23774-EBDPKJ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-right: -10px;
  min-height: 99px;
  padding-right: 10px;
  position: relative;
  width: 737px;
}

.x352 .nac-en-per-y-mi-nica-xTyiDU {
  background-color: transparent;
  height: 99px;
  letter-spacing: 0.12px;
  line-height: 38px;
  margin-right: -11px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 738px;
}

.x352 .span0-VggDIl {
  letter-spacing: 0.03px;
}

.x352 .span1-VggDIl {
  letter-spacing: 0.03px;
}

.x352 .span2-VggDIl {
  letter-spacing: 0.03px;
}

.x352 .span3-VggDIl {
  letter-spacing: 0.03px;
}

.x352 .frame-23562-JZk1mp {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: center;
  min-height: 200px;
  padding-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 56px;
  position: relative;
}

.x352 .frame-23537-variant3-3jpdX9 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x352 .texto-cIq3Lo {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x352 .frame-23537-variant3-CorNaJ {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x352 .texto-Fahgb3 {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
