/* screen - 353 */

.x353 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x353 .group-12781-G7ma2r {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x353 .group-46-a9xFIw {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.x353 .getty-images-1083913610-1-AkzFET {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x353 .rectangle-15-AkzFET {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.x353 .frame-23811-G7ma2r {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.x353 .frame-12627-variant2-2Z3eYB {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.x353 .frame-23818-2Z3eYB {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 104px;
  min-width: 956px;
  position: relative;
}

.x353 .frame-23810-AXT3xc {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.x353 .frame-23716-PC0pTN {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 192px;
  position: relative;
}

.x353 .grupo-1140-8zMBCZ {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x353 .frame-23713-8zMBCZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 144px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x353 .cuentas-6TMxq0 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x353 .group-42-2Z3eYB {
  background-color: transparent;
  height: 464px;
  position: relative;
  width: 956px;
}

.x353 .frame-23727-eCicw3 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
}

.x353 .group-12794-5UIs6K {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 958px;
}

.x353 .rectangle-21-rFDcwV {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 956px;
}

.x353 .evaarrow-ios-forward-fill-rFDcwV {
  background-color: transparent;
  height: 50px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 50px;
}

.x353 .rectangle-5-rFDcwV {
  background-color: var(--pelorous);
  border-radius: 15px 0px 0px 15px;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 27px;
}

.x353 .caja-digital-rFDcwV {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 150px;
}

.x353 .group-12795-5UIs6K {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 958px;
}

.x353 .rectangle-21-AQTkkA {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 956px;
}

.x353 .evaarrow-ios-forward-fill-AQTkkA {
  background-color: transparent;
  height: 50px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 50px;
}

.x353 .rectangle-5-AQTkkA {
  background-color: var(--pelorous);
  border-radius: 15px 0px 0px 15px;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 27px;
}

.x353 .caja-rentable-AQTkkA {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 458px;
}

.x353 .group-12796-5UIs6K {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 958px;
}

.x353 .rectangle-21-2MxHNT {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 956px;
}

.x353 .evaarrow-ios-forward-fill-2MxHNT {
  background-color: transparent;
  height: 50px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 50px;
}

.x353 .rectangle-5-2MxHNT {
  background-color: var(--pelorous);
  border-radius: 15px 0px 0px 15px;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 27px;
}

.x353 .caja-flexible-2MxHNT {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 385px;
}
