/* screen - 339 */

.contenedorVista {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.contenedorVista .primerContenedor {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.contenedorVista .segundoContenedor {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.contenedorVista .getty-images-1083913610-1-j6D0r4 {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.contenedorVista .rectangle-15-j6D0r4 {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.contenedorVista .cajaDigital {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.contenedorVista .imagenLogo {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.contenedorVista .detallesCaja {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 784px;
  min-width: 956px;
  position: relative;
}

.contenedorVista .contenedorTitulo {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.contenedorVista .contenedorIcono {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 240px;
  position: relative;
}

.contenedorVista .imagenIcono {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.contenedorVista .tituloCaja {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 192px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.contenedorVista .caja-digital {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.contenedorVista .contenidoCaja {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 632px;
  mix-blend-mode: normal;
  padding-bottom: 48px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 48px;
  position: relative;
  width: 956px;
}

.contenedorVista .contenido {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 536px;
  position: relative;
  width: 792px;
}

.contenedorVista .mensajeApertura {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  height: 64px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 792px;
}

.contenedorVista .imagenCheck {
  background-color: transparent;
  height: 29.578125px;
  margin-left: -1.059535026550293px;
  position: relative;
  width: 29.880859375px;
}

.contenedorVista .mensajeCuentaCreada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 48px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  width: 764px;
}

.contenedorVista p {
  -webkit-text-stroke: 1px var(--pelorous);
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 754px;
}

.contenedorVista .contenido-listado {
  background-color: transparent;
  height: 464px;
  position: relative;
  width: 792px;
}

.contenedorVista .info-Cuenta {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  left: 0px;
  position: relative;
  top: 0px;
  width: 792px;
}

.contenedorVista .contenedor-listado {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  min-height: 462px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 301px;
}

.contenedorVista .fecha-hora {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.contenedorVista .fecha-y-hora {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .fecha {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .frame-23617-o1gRax {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.contenedorVista .tipo-de-cuenta {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .ahorro-rentable {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .documento-identidad {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.contenedorVista .documento-de-identidad{
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .dni {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .numero-identidad {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 301px;
}

.contenedorVista .n-de-documento-de-identidad {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .numeroDoc {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 204px;
}

.contenedorVista .correoElectronico {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 49px;
  position: relative;
  width: 245px;
}

.contenedorVista .correo-electrnico {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .correoRespuesta {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.contenedorVista .numeroCelular {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 49px;
  position: relative;
  width: 245px;
}

.contenedorVista .celular {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .celularRespuesta {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.contenedorVista .contenedor-cuenta-1 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 464px;
  justify-content: center;
  mix-blend-mode: multiply;
  position: relative;
  width: 384px;
}

.contenedorVista .contenedor-cuenta-2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 196px;
  justify-content: center;
  min-width: 301px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.contenedorVista .contenedor-cuenta-3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  margin-bottom: -6px;
  margin-top: -6px;
  min-height: 188px;
  min-width: 281px;
  position: relative;
}

.contenedorVista .contenedor-cuenta-4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 188px;
  min-width: 281px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.contenedorVista .numeroCuenta {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 86px;
  min-width: 261px;
  position: relative;
}

.contenedorVista .numero-cuenta-titulo {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 38px;
  min-width: 167px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.contenedorVista .cuentaName {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .cuentaNumber {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 261px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.contenedorVista .cuentaNumber-info {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.contenedorVista .cci {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 66px;
  min-width: 256px;
  position: relative;
}

.contenedorVista .cci-titulo {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: center;
  min-height: 28px;
  position: relative;
  width: 206px;
}

.contenedorVista .cci-name {
  background-color: transparent;
  flex: 1;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 206px;
}

.contenedorVista .cci-numero {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 28px;
  min-width: 256px;
  position: relative;
}

.contenedorVista .cci-numero-info {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 256px;
}
