/* screen - 354 */

.confirmacion_contraseña {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.confirmacion_contraseña .container-logo {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.confirmacion_contraseña .imagen-logo {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.confirmacion_contraseña .rectangle-15-46yWlJ {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.confirmacion_contraseña .container-principal {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.confirmacion_contraseña .imagen-fondo-logo {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.confirmacion_contraseña .container-titulo-vista {
  align-items: center;
  background-color: var(--white-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 806px;
  min-width: 956px;
  mix-blend-mode: normal;
  position: relative;
}

.confirmacion_contraseña .container-titulo-vista2 {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.confirmacion_contraseña .container-icono-caja {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 240px;
  position: relative;
}

.confirmacion_contraseña .imagen-icono {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.confirmacion_contraseña .container-titulo {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 192px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.confirmacion_contraseña .caja-digital {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.confirmacion_contraseña .titulo-form {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 50px;
  min-width: 670px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
}

.confirmacion_contraseña .ingresa-la-clave-de-bNLqxS {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.confirmacion_contraseña .container-labels-principal {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 308px;
  min-width: 793px;
  position: relative;
}

.confirmacion_contraseña .clave-secretaT {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 38px;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.confirmacion_contraseña .inactivo-EhAzwT {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 793px;
}

.confirmacion_contraseña .clave_secreta, .confirme_clave_secreta {
  padding: 26px !important;
  width: 100%;
  border-radius: 10px;
  font-size: 26px !important;
  background: transparent;
}

.confirmacion_contraseña .container-labels {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 142px;
  min-width: 793px;
  padding-top: 8px;
  position: relative;
}

.confirmacion_contraseña .clave-secreta {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 38px;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.confirmacion_contraseña .inactivo-kNxR57 {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 793px;
}

.confirmacion_contraseña .escribir-texto-imput-krbz0P {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.confirmacion_contraseña .container-botones {
  align-items: flex-end;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: center;
  min-height: 200px;
  padding-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 56px;
  position: relative;
}

.confirmacion_contraseña .btnCancelar_container {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.confirmacion_contraseña .btnCancelar {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0px;
  border-radius: 11px;
  border: none;
  background: white;
}

.confirmacion_contraseña .btnSiguiente_container{
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.confirmacion_contraseña .btnSiguiente{
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
  border: none;
  cursor: pointer;
}

.confirmacion_contraseña .ios-keyboard-phone-PNKQ8w {
  background-color: #202325;
  box-shadow: -28.100000381469727px 146.0800018310547px 170px #779ec242;
  height: 642px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1278px;
  width: 1080px;
}

.confirmacion_contraseña .letters-layout-6lZfxw {
  background-color: transparent;
  height: 556px;
  left: 13px;
  position: relative;
  top: 57px;
  width: 1053px;
}

.confirmacion_contraseña .key-c6y4jn {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 54px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-ABQuzn {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-VHHxm6 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-jr84XZ {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-yLjwMT {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-nFB4wK {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-AxPUgl {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 161px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-Yfny1x {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-gEMA8L {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-S3J8s4 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 161px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-VUAsrs {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-FcuF7o {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-xVWxtG {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 107px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-tUqHjx {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-Aiqaha {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-C9LLfB {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 268px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-M8canr {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-Wx3LpA {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-EeHGkd {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 268px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-SI4xfY {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-w2BSp7 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-cKYLwb {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 214px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-e4wxl8 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-u2u8Ux {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-qBrZJW {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 375px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-90RpwJ {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-qqul59 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-4v1PZ8 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 375px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-Pvcx8G {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-qPAHHx {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-pPvU7y {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 321px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-rhaLXP {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-9Jl8Hr {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-KTy3fy {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 482px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-z4GmyH {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-IFXqWh {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-6qt5Jx {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 482px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-0SiJpH {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-dXxurK {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .text-key-c6y4jn {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 375px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 411px;
}

.confirmacion_contraseña .numbers-E7NPL8 {
  background-color: transparent;
  height: 104px;
  left: 1px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 410px;
}

.confirmacion_contraseña .letter-CKB3NT {
  background-color: transparent;
  height: 104px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 410px;
}

.confirmacion_contraseña .text-key-jr84XZ {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 803px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 250px;
}

.confirmacion_contraseña .numbers-YRhMeo {
  background-color: transparent;
  height: 104px;
  left: 1px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 249px;
}

.confirmacion_contraseña .letter-38xcGj {
  background-color: transparent;
  height: 104px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 249px;
}

.confirmacion_contraseña .key-vlB4TV {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 428px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-cze7Lu {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-xTRITC {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-DAej5I {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 589px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-xL4oq2 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-Y5UMZe {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-ic7I3O {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 589px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-Bbq557 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-4xyDBU {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-KXnw9f {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 535px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-96sp5p {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-T3FPEU {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-hhGkop {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 696px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-LHRqXY {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-I4AFHc {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-OXFX5z {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 696px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-y8KdYS {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-mDYxx2 {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-x44jMt {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 642px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-BTyeCm {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-SwfO7U {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-g1CvOD {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 803px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-V4jUUa {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-xWHdKi {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-MGtexf {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 803px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 294px;
  width: 90px;
}

.confirmacion_contraseña .v1-363oYb {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-OUAZnu {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-YUlUCI {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 749px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-EUivyG {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-t8SDVC {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-uTJDY4 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 910px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 147px;
  width: 90px;
}

.confirmacion_contraseña .v1-Lixm4U {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-VJ6UDe {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-A3PSKM {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 856px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-utxpWj {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-JWFm8J {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .key-ZNhRy6 {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 963px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .v1-m7vSKv {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 92px;
}

.confirmacion_contraseña .letter-xKY40x {
  background-color: transparent;
  height: 115px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 90px;
}

.confirmacion_contraseña .special-key-c6y4jn {
  background-color: var(--storm-dust);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 268px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 90px;
}

.confirmacion_contraseña .micro-aAo4aT {
  background-color: transparent;
  height: 54px;
  left: 18px;
  position: relative;
  top: 31px;
  width: 54px;
}

.confirmacion_contraseña .rectangle-46-QjOa4z {
  background-color: transparent;
  height: 35px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.confirmacion_contraseña .rectangle-45-QjOa4z {
  background-color: transparent;
  border: 3px solid var(--white);
  border-radius: 50px;
  height: 33px;
  left: 19px;
  position: absolute;
  top: 3px;
  width: 15px;
}

.confirmacion_contraseña .special-key-jr84XZ {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 134px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 117px;
}

.confirmacion_contraseña .globe-UhsacE {
  background-color: transparent;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31px;
  width: 54px;
}

.confirmacion_contraseña .text-key-AxPUgl {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 441px;
  width: 117px;
}

.confirmacion_contraseña .numbers-GW3d5j {
  background-color: transparent;
  height: 104px;
  left: 1px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 116px;
}

.confirmacion_contraseña .letter-GJNxCI {
  background-color: transparent;
  height: 104px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 116px;
}

.confirmacion_contraseña .special-key-AxPUgl {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 294px;
  width: 117px;
}

.confirmacion_contraseña .arrow-EEubRK {
  background-color: transparent;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  position: relative;
  top: 31px;
  width: 54px;
}

.confirmacion_contraseña .vector-13-Lstd8t {
  background-color: transparent;
  height: 43px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 47px;
}

.confirmacion_contraseña .special-key-S3J8s4 {
  background-color: var(--cape-cod);
  border-radius: 10px;
  box-shadow: 0px 3px 0px #00000038;
  height: 115px;
  left: 936px;
  mix-blend-mode: normal;
  position: absolute;
  top: 294px;
  width: 117px;
}

.confirmacion_contraseña .delete-JlS7V4 {
  background-color: transparent;
  height: 54px;
  left: 32px;
  mix-blend-mode: normal;
  position: relative;
  top: 31px;
  width: 54px;
}

.confirmacion_contraseña .ios-TMVnXL {
  background-color: transparent;
  height: 40px;
  left: -2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 54px;
}
