/* screen - 353 */

.vista-cuentas {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.vista-cuentas .vista-cuentas-2 {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.vista-cuentas .container-imagenFondo {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.vista-cuentas .imagen-fondo-vista {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.vista-cuentas .color-fondo {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.vista-cuentas .grid-container-cuentas {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.vista-cuentas .imagen-fondo-logo {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.vista-cuentas .container-titulo-cuentas {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 104px;
  min-width: 956px;
  position: relative;
}

.vista-cuentas .container-titulo-cuentas-2 {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.vista-cuentas .container-icono {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 192px;
  position: relative;
}

.vista-cuentas .imagen-icono-cuentas {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.vista-cuentas .titulo-cuentas {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 144px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.vista-cuentas .cuentas{
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.vista-cuentas .container-detalles-cuentas {
  background-color: transparent;
  height: 464px;
  position: relative;
  width: 956px;
}

.vista-cuentas .grid-container-detalles-cuentas {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
}

.vista-cuentas .container-caja-digital {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 958px;
}

.vista-cuentas .estiloFondo-caja-digital {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 956px;
}

.vista-cuentas .icono-chevron {
  background-color: transparent;
  height: 50px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 50px;
}

.vista-cuentas .border-green {
  background-color: var(--pelorous);
  border-radius: 15px 0px 0px 15px;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 27px;
}

.vista-cuentas .caja-digital {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 150px;
}

.vista-cuentas .container-cajaRentable {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 958px;
}

.vista-cuentas .estilo-fondo-cajaRentable {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 956px;
}

.vista-cuentas .icono-chevron {
  background-color: transparent;
  height: 50px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 50px;
}

.vista-cuentas .border-green {
  background-color: var(--pelorous);
  border-radius: 15px 0px 0px 15px;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 27px;
}

.vista-cuentas .caja-rentable {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 458px;
}

.vista-cuentas .container-cajaFlexible {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 958px;
}

.vista-cuentas .estilo-fondo-cajaFlexible {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 956px;
}

.vista-cuentas .icono-chevron {
  background-color: transparent;
  height: 50px;
  left: 876px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 50px;
}

.vista-cuentas .border-green {
  background-color: var(--pelorous);
  border-radius: 15px 0px 0px 15px;
  height: 144px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 27px;
}

.vista-cuentas .caja-flexible {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 385px;
}
