/* screen - 349 */

.contenedor-realizarHoy {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.contenedor-realizarHoy .primerContenedor {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.contenedor-realizarHoy .imagen-logo {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1085px;
}

.contenedor-realizarHoy .logo-vista {
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.contenedor-realizarHoy .rectangle-15-p3CwDY {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 1920px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1085px;
}

.contenedor-realizarHoy .container-principal {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 0px;
}

.contenedor-realizarHoy .container-segundo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: flex-start;
  min-height: 376px;
  min-width: 1080px;
  position: relative;
}

.contenedor-realizarHoy .imagen-logo {
  background-color: transparent;
  height: 176px;
  position: relative;
  width: 1080px;
}

.contenedor-realizarHoy .titulo-vista {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 956px;
}

.contenedor-realizarHoy .deseaRealizar {
  background-color: transparent;
  height: 76px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.contenedor-realizarHoy .container-apertura-1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: center;
  min-height: 296px;
  min-width: 466px;
  position: relative;
}

.contenedor-realizarHoy .container-apertura-2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 296px;
  min-width: 466px;
  position: relative;
}

.contenedor-realizarHoy .container-apertura-3 {
  background-color: transparent;
  height: 296px;
  position: relative;
  width: 466px;
}

.contenedor-realizarHoy .container-apertura-4 {
  background-color: transparent;
  height: 296px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.contenedor-realizarHoy .container-apertura-fondo {
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 2px 30px #35b1b81a;
  height: 296px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 466px;
}

.contenedor-realizarHoy .frame-23666-l2S9dh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 296px;
  justify-content: center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.contenedor-realizarHoy .container-fondo-Img {
  background-color: transparent;
  height: 126.62420654296875px;
  position: relative;
  width: 128px;
}

.contenedor-realizarHoy .container-fondo-Icono {
  background-color: var(--pelorous);
  border-radius: 64px/63.31px;
  height: 127px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 128px;
}

.contenedor-realizarHoy .imagen-fondo {
  background-color: transparent;
  height: 121px;
  left: 3px;
  position: absolute;
  top: 2px;
  width: 122px;
}

.contenedor-realizarHoy .aperturaCuenta {
  background-color: transparent;
  height: 60px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.contenedor-realizarHoy .imagen-cerdito {
  background-color: transparent;
  height: 57px;
  left: 200px;
  position: absolute;
  top: 81px;
  width: 66px;
}
