/* screen - 286 */

.x286 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x286 .rectangle-28-viUGpO {
  background-color: var(--white);
  height: 106px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 199px;
  width: 30px;
}

.x286 .container-logo-btnSalida {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x286 .frame-12626-FbabwX {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72.00006103515625px;
  min-width: 168.270263671875px;
  position: relative;
}

.x286 .frame-12790-FbabwX {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x286 .group-49-oBd2pv {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x286 .ellipse-8-ENdm3F {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x286 .group-ENdm3F {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x286 .depsito-a-plazo-fijo-viUGpO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 316px;
}

.x286 .container-mis-productos {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23511-lO0RI9 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23506-wqFkT5 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x286 .frame-23500-LgxPVc {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x286 .mis-productos-LgxPVc {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x286 .container-pagos-deposito {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23511-FDmsJY {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23506-ejFT1u {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x286 .frame-23501-4CFHUj {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x286 .pagos-4CFHUj {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x286 .container-transferencia-deposito {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23511-Z37GV3 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23506-y3xwsg {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x286 .frame-23502-ED61mw {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x286 .transferencia-ED61mw {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x286 .container-desembolso-deposito {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23511-e0MS2W {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23506-BoZNh3 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x286 .frame-23519-P6pES6 {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x286 .desembolso-de-lneas-P6pES6 {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x286 .container-abrir-deposito {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23511-WCNxNG {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23506-gjoJfa {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x286 .frame-23520-TRCBCJ {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x286 .abrir-depsito-a-plazo-fijo-TRCBCJ {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x286 .container-configuracion-deposito {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23511-jsiJck {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x286 .frame-23506-ZsAM2p {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x286 .frame-23513-S3xNNy {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x286 .configuracin-S3xNNy {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x286 .container-titulo-principal {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.x286 .frame-23541-KTuPxi {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: 56px;
  justify-content: flex-start;
  min-width: 587px;
  position: relative;
}

.x286 .container-icono-Tprincipal {
  align-items: center;
  background-color: transparent;
  border-radius: 145px;
  display: flex;
  gap: 7.25px;
  height: 58px;
  justify-content: center;
  position: relative;
  width: 58px;
}

.x286 .frame-23521-iZCIUX {
  background-color: transparent;
  min-height: 45.773414611816406px;
  min-width: 44.14129638671875px;
  position: relative;
}

.x286 .frame-23632-DPwzM3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 521px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x286 .depsito-a-plazo-fijo-Ps7c33 {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x286 .vector-72-KTuPxi {
  background-color: #dbdbdb;
  height: 1px;
  position: relative;
  width: 793px;
}

.x286 .frame-23692-viUGpO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 464px;
  /* width: 90%; */
}

.x286 .frame-23734-FjPEjd {
  margin-top: 6%;
}
.frame-23695-uQvUJz {
  /* width: 100%; */
}

.x120 .container-selecciona-cuenta {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  padding-bottom: 48px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 793px;
}

.x120 .container-select-cuenta {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 144px;
  min-width: 677px;
  padding-top: 8px;
  position: relative;
}

.select-tipo-moneda {
  align-items: flex-start;
  background-color: #f9f9fb;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 112px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 51px;
  padding-right: 25px;
  padding-top: 34px;
  position: relative;
  width: 793px;
  outline: none;
}
select {
  appearance: none;
}

.container-icono-select {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
}

.icono-select {
  background-color: transparent;
  height: 14.0537109375px;
  margin-right: -0.11557169042032456px;
  mix-blend-mode: normal;
  position: absolute;
  margin-top: -131px;
  margin-left: 89%;
  width: 25.23095703125px;
}
.button-box {
  display: flex;
  justify-content: center;
}

.container-botones-step {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 24px;
  height: 120px;
  justify-content: center;
  position: relative;
  width: 793px;
}

.x286 .resultados-4Ee8j8 {
  background-color: transparent;
  height: 77px;
  letter-spacing: 0px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 409px;
}

.x286 .elige-la-opcin-que-m-4Ee8j8 {
  background-color: transparent;
  height: 77px;
  letter-spacing: 0px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 536px;
}

.x286 .container-resultado-dias {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 608px;
  min-width: 793px;
  position: relative;
  margin-bottom: 52px;
}

.x286 .frame-23766-B8QTox {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-height: 152px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  width: 793px;
}

.x286 .frame-23767-XxbHC4 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 120px;
  min-width: 306px;
  position: relative;
}

.x286 .container-resultado-dias-ganarias {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 306px;
  position: relative;
}

.x286 .en-180-das-ganaras-s-298-PiGssP {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x286 .container-detalles-ganarias {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  min-height: 64px;
  min-width: 304px;
  position: relative;
}

.x286 .container-detalles-trea {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 64px;
  justify-content: flex-start;
  position: relative;
  width: 140px;
}

.x286 .trea-300-FouSmr {
  background-color: transparent;
  height: 60px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x286 .container-detalles-vence {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 64px;
  justify-content: flex-start;
  position: relative;
  width: 140px;
}

.x286 .vence-15082022-mK8xgv {
  background-color: transparent;
  height: 60px;
  letter-spacing: 0px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x286 .evaarrow-ios-forward-fill-XxbHC4 {
  background-color: transparent;
  height: 120px;
  mix-blend-mode: normal;
  position: relative;
  width: 48px;
}

.x286 .line-9-B8QTox {
  background-color: transparent;
  position: relative;
  width: 793px;
}

.x286 .container-simular {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-height: 146px;
  position: relative;
  width: 793px;
}

.x286 .frame-23555-variant2-dI583C {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 146px;
  min-width: 395px;
  padding-top: 8px;
  position: relative;
}

.x286 .container-simular-label {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 395px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x286 .texto-0MiHkS {
  background-color: transparent;
  height: 38px;
  letter-spacing: -0.24px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x286 .inactivo-rAJLrd {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 384px;
}

.x286 .btn-simular {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  border: none;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
  cursor: pointer;
}

.x286 .actualizar-MPbuxJ {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x286 .frame-23538-viUGpO {
  background-color: transparent;
  height: 48px;
  left: 225px;
  position: absolute;
  top: 368px;
  width: 124px;
}
