/* screen - 343 */

.x343 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x343 .rectangle-28-xSL93n {
  background-color: var(--white);
  height: 106px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 199px;
  width: 30px;
}

.x343 .depsito-a-plazo-fijo-xSL93n {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 316px;
}

.x343 .frame-23518-ccDS0m {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23511-HnJ3Cu {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23506-Bt7E8L {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x343 .frame-23500-TfX2FH {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x343 .mis-productos-TfX2FH {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x343 .frame-23525-ccDS0m {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23511-a8i94P {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23506-yRx3bB {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x343 .frame-23501-O6A72s {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x343 .pagos-O6A72s {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x343 .frame-23526-ccDS0m {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23511-fxXkGM {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23506-hYB8ac {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x343 .frame-23502-DZMbx0 {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x343 .transferencia-DZMbx0 {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x343 .frame-23522-ccDS0m {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23511-VVjPCT {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23506-8rtbg9 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x343 .frame-23519-cyJvMe {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x343 .desembolso-de-lneas-cyJvMe {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x343 .frame-23523-ccDS0m {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23511-fkfQMG {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23506-vgpgVl {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x343 .frame-23520-iRRITG {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x343 .abrir-depsito-a-plazo-fijo-iRRITG {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x343 .frame-23527-ccDS0m {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23511-sn2KWe {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x343 .frame-23506-GJF5dt {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x343 .frame-23513-ocEEMF {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x343 .configuracin-ocEEMF {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x343 .frame-23755-xSL93n {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.x343 .frame-23541-b5Ux66 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: 56px;
  justify-content: flex-start;
  min-width: 587px;
  position: relative;
}

.x343 .frame-23437-Q6gySz {
  align-items: center;
  background-color: transparent;
  border-radius: 145px;
  display: flex;
  gap: 7.25px;
  height: 58px;
  justify-content: center;
  position: relative;
  width: 58px;
}

.x343 .frame-23521-30hA8z {
  background-color: transparent;
  min-height: 45.77342224121094px;
  min-width: 44.14129638671875px;
  position: relative;
}

.x343 .frame-23632-Q6gySz {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 521px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x343 .depsito-a-plazo-fijo-odaVvn {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x343 .vector-72-b5Ux66 {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 793px;
}

.x343 .frame-23676-xSL93n {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x343 .frame-12626-4qLdUO {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72.00006103515625px;
  min-width: 168.270263671875px;
  position: relative;
}

.x343 .frame-12790-4qLdUO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x343 .group-49-T2lWpj {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x343 .ellipse-8-Fg2Xut {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x343 .group-Fg2Xut {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x343 .frame-23692-xSL93n {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 464px;
}

.x343 .group-12636-default-xQjDcu {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 793px;
}

.x343 .componente-2-n2tpGn {
  background-color: transparent;
  height: 5px;
  left: 43px;
  position: absolute;
  top: 19px;
  width: 708px;
}

.x343 .componente-5-n2tpGn {
  background-color: transparent;
  height: 48px;
  left: 745px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x343 .componente-4-n2tpGn {
  background-color: transparent;
  height: 48px;
  left: 373px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x343 .componente-3-n2tpGn {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x343 .frame-23734-xQjDcu {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 638px;
  mix-blend-mode: normal;
  padding-bottom: 46px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 793px;
}

.x343 .frame-23760-o94Ef0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 112px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 793px;
}

.x343 .frame-23586-LMbHq7 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 679px;
}

.x343 .frame-23585-M2kLoq {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 27px;
  justify-content: flex-start;
  min-height: 38px;
  position: relative;
}

.x343 .simular-jYYJ9m {
  background-color: transparent;
  flex: 1;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 627.7692260742188px;
}

.x343 .vector-jYYJ9m {
  background-color: transparent;
  height: 14.053237915039062px;
  margin-right: -0.11532754979532456px;
  mix-blend-mode: normal;
  position: relative;
  width: 25.230712890625px;
}

.x343 .frame-23729-o94Ef0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 296px;
  min-width: 697px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.x343 .frame-23733-BQyCQp {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x343 .frame-23730-RhWqLq {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 182px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.x343 .tipo-de-moneda-ek22Kc {
  background-color: transparent;
  color: var(--pelorous);
  font-family: var(--font-family-open_sans-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x343 .group-99-RhWqLq {
  background-color: transparent;
  height: 64px;
  position: relative;
  width: 326px;
}

.x343 .rectangle-29-RgXtNP {
  background-color: var(--pelorous);
  border-radius: 15px;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 326px;
}

.x343 .rectangle-30-RgXtNP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 163px;
}

.x343 .soles-RgXtNP {
  background-color: transparent;
  height: 34px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 163px;
}

.x343 .dlares-RgXtNP {
  background-color: transparent;
  height: 21px;
  left: 163px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 163px;
}

.x343 .frame-23553-default-BQyCQp {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 144px;
  min-width: 677px;
  padding-top: 8px;
  position: relative;
}

.x343 .frame-23642-qysDVg {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 215px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x343 .texto-VKxvEG {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x343 .inactivo-qysDVg {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x343 .escribir-texto-imput-nP4yeF {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x343 .frame-23732-BQyCQp {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x343 .el-monto-mnimo-a-depositar-es-s200000-iVExsR {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 677px;
}

.x343 .frame-23537-default-o94Ef0 {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x343 .actualizar-m2rYt9 {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x343 .rectangle-26-xSL93n {
  background-color: transparent;
  height: 1915px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x343 .frame-23762-xSL93n {
  align-items: flex-start;
  background-color: #ffffff33;
  border-radius: 20px;
  box-shadow: 0px 4px 8px #00000029;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 62px;
  mix-blend-mode: normal;
  position: absolute;
  top: 301px;
}

.x343 .frame-23555-0QN9of {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  min-height: 136px;
  overflow: hidden;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  position: relative;
  width: 956px;
}

.x343 .group-142-eClyCz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x343 .group-142-y3tjCf {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x343 .group-80-WHUB6L {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x343 .group-48-6d3M5B {
  background-color: transparent;
  height: 72px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 72px;
}

.x343 .ellipse-7-MOxxgK {
  background-color: var(--pelorous);
  border-radius: 36px;
  height: 72px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: relative;
  top: 0px;
  width: 72px;
}

.x343 .vector-WHUB6L {
  background-color: transparent;
  height: 33px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 32px;
}

.x343 .frame-23680-0QN9of {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 750px;
  position: relative;
}

.x343 .frame-23679-0Q9wlS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 100px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 790px;
}

.x343 .asegrese-de-retirar-g0JNwV {
  background-color: transparent;
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 790px;
}

.x343 .line-9-0Q9wlS {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 790px;
}

.x343 .frame-23823-0Q9wlS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 620px;
  min-width: 836px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 24px;
  position: relative;
}

.x343 .a-mayor-plazo-y-mont-PNLOCZ {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-open_sans-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: 572px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 816px;
}

.x343 .line-10-0Q9wlS {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 790px;
}

.x343 .frame-23562-0QN9of {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 24px;
  height: 216px;
  justify-content: center;
  padding-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 56px;
  position: relative;
  width: 956px;
}

.x343 .frame-23537-variant3-5RefQL {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 303px;
}

.x343 .actualizar-8Xk6Tx {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x343 .frame-23537-default-5RefQL {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x343 .actualizar-fQzzNr {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
