/* screen - 292 */

.x292 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x292 .rectangle-28-0OaCGK {
  background-color: var(--white);
  height: 106px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 199px;
  width: 30px;
}

.x292 .transferencia-0OaCGK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 316px;
}

.x292 .frame-23518-4CoxES {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23511-kIBYCI {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23506-Dh9ggg {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x292 .frame-23500-2evXus {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x292 .mis-productos-2evXus {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x292 .frame-23525-4CoxES {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23511-drNRCa {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23506-AgPJBW {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x292 .frame-23501-xORrtC {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x292 .pagos-xORrtC {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x292 .frame-23526-4CoxES {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23511-FM9qJY {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23506-kADCcx {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x292 .frame-23502-zEHMfL {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x292 .transferencia-zEHMfL {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x292 .frame-23522-4CoxES {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23511-x7vdnF {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23506-u3xxlu {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x292 .frame-23519-K4UX4X {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x292 .desembolso-de-lneas-K4UX4X {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x292 .frame-23523-4CoxES {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23511-9po5Yv {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23506-2a8Ycx {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x292 .frame-23520-2MXrxf {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x292 .abrir-depsito-a-plazo-fijo-2MXrxf {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x292 .frame-23527-4CoxES {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23511-t0p4m1 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x292 .frame-23506-x5qSOd {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x292 .frame-23513-lN7IAn {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x292 .configuracin-lN7IAn {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x292 .frame-23676-0OaCGK {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x292 .frame-12626-aMMZrY {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72px;
  min-width: 168.2705078125px;
  position: relative;
}

.x292 .frame-12790-aMMZrY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x292 .group-49-OpuIBW {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x292 .ellipse-8-9UnFqi {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x292 .group-9UnFqi {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x292 .frame-23755-0OaCGK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.x292 .frame-23541-QQ30nt {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: 56px;
  justify-content: flex-start;
  min-width: 321px;
  position: relative;
}

.x292 .frame-23502-5wwsMM {
  background-color: transparent;
  height: 56px;
  position: relative;
  width: 56px;
}

.x292 .frame-23632-5wwsMM {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 257px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x292 .depsito-a-plazo-fijo-B1k8x3 {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x292 .vector-72-QQ30nt {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 793px;
}

.x292 .frame-23790-0OaCGK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 384px;
}

.x292 .frame-23534-ZKID5x {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  position: relative;
  width: 793px;
}

.x292 .tab1-7KNwGs {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  min-width: 793px;
  position: relative;
}

.x292 .frame-23534-xYt2lf {
  align-items: center;
  background-color: var(--white);
  border-radius: 23px 0px 0px 23px;
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 264px;
}

.x292 .servicios-ube1ZB {
  background-color: transparent;
  height: 54px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x292 .frame-23533-xYt2lf {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 265px;
}

.x292 .instituciones-nw59yJ {
  background-color: transparent;
  height: 54px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x292 .frame-23535-xYt2lf {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 0px 23px 23px 0px;
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 264px;
}

.x292 .de-crditos-CRf2K1 {
  background-color: transparent;
  height: 54px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x292 .efectivo-mvil-7KNwGs {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 27px;
  margin-right: -77px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x292 .frame-23538-ZKID5x {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 124px;
  position: relative;
}

.x292 .group-12633-hO6XOM {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x292 .ellipse-9-FDPe3J {
  background-color: var(--green-vogue);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.x292 .vector-FDPe3J {
  background-color: transparent;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.x292 .volver-hO6XOM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .span0-zsDSyW {
}

.x292 .span1-zsDSyW {
}

.x292 .frame-23780-ZKID5x {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 64px;
  justify-content: flex-start;
  min-width: 793px;
  position: relative;
}

.x292 .transfiere-dinero-a-fCUFAr {
  background-color: transparent;
  height: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 793px;
}

.x292 .group-12636-variant2-ZKID5x {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 793px;
}

.x292 .componente-2-8xdNaP {
  background-color: transparent;
  height: 5px;
  left: 43px;
  position: absolute;
  top: 19px;
  width: 708px;
}

.x292 .componente-5-8xdNaP {
  background-color: transparent;
  height: 48px;
  left: 745px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x292 .componente-4-8xdNaP {
  background-color: transparent;
  height: 48px;
  left: 373px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x292 .componente-3-8xdNaP {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x292 .frame-23781-ZKID5x {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 952px;
  mix-blend-mode: normal;
  padding-bottom: 48px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 48px;
  position: relative;
  width: 792px;
}

.x292 .frame-12755-UidGxj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 464px;
  position: relative;
  width: 678px;
}

.x292 .group-12754-ml3Y9E {
  background-color: transparent;
  height: 464px;
  position: relative;
  width: 678px;
}

.x292 .frame-23629-OTLpsh {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  left: 0px;
  position: relative;
  top: 0px;
  width: 678px;
}

.x292 .frame-23623-oT69BJ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  min-height: 383px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 253px;
}

.x292 .frame-23616-2RUBgj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x292 .fecha-Q6CJau {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .cuenta-de-ahorros-Q6CJau {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23617-2RUBgj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x292 .hora-b65xQ7 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .x1300-b65xQ7 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23620-2RUBgj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x292 .cuenta-de-origen-cTgIZE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .x1234-0987-6543-0987-cTgIZE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23621-2RUBgj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x292 .titular-de-servicio-l0lifg {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .pamela-salas-l0lifg {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 204px;
}

.x292 .frame-23623-2RUBgj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 49px;
  position: relative;
  width: 245px;
}

.x292 .n-de-operacin-zIDnOP {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .x12345678-zIDnOP {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 216px;
}

.x292 .frame-23627-oT69BJ {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 464px;
  justify-content: center;
  mix-blend-mode: multiply;
  position: relative;
  width: 409px;
}

.x292 .frame-23637-qhZuym {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 196px;
  justify-content: flex-start;
  min-width: 247px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x292 .frame-23638-vvXnF2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 104px;
  min-width: 183px;
  position: relative;
}

.x292 .frame-23625-f9CelM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 38px;
  min-width: 96px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x292 .monto-8CK5n2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23626-f9CelM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 66px;
  min-width: 183px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x292 .s10000-69DyPr {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23639-vvXnF2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 227px;
  position: relative;
}

.x292 .frame-106-F7XNQa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 23px;
  position: relative;
  width: 206px;
}

.x292 .comisin-rIkj0F {
  background-color: transparent;
  flex: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 130px;
}

.x292 .s500-rIkj0F {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-105-F7XNQa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 23px;
  min-width: 227px;
  position: relative;
}

.x292 .monto-total-LJyM3L {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 129px;
}

.x292 .s10000-LJyM3L {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23758-UidGxj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 208px;
  min-width: 677px;
  position: relative;
}

.x292 .frame-23553-default-eJvYji {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 144px;
  min-width: 677px;
  padding-top: 8px;
  position: relative;
}

.x292 .frame-23642-oFN2Uc {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 72px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x292 .texto-iHhn0c {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x292 .inactivo-oFN2Uc {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x292 .escribir-texto-imput-GmUAHu {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x292 .grupo-767-eJvYji {
  background-color: transparent;
  height: 40px;
  position: relative;
  width: 402.88092041015625px;
}

.x292 .frame-23628-xEdGcq {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: 403px;
}

.x292 .group-12764-NVPp97 {
  background-color: transparent;
  height: 29.578125px;
  margin-left: -1.559535026550293px;
  position: relative;
  width: 29.880859375px;
}

.x292 .clave-capturada-correctamente-NVPp97 {
  -webkit-text-stroke: 1px var(--limeade-2);
  background-color: transparent;
  height: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -7.62939453125e-06px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x292 .frame-23760-UidGxj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  min-height: 88px;
  min-width: 676px;
  position: relative;
}

.x292 .frame-23537-variant3-SLnmSa {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x292 .actualizar-d22g8x {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x292 .frame-23537-default-SLnmSa {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x292 .actualizar-Y0cQqj {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
