/* screen - 294 */

.vista-pagos-agua {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.vista-pagos-agua .container-btn-volver {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 124px;
  position: relative;
  margin-bottom: 5%;
}

.vista-pagos-agua .container-icono-volver {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.vista-pagos-agua .container-fondo-btnVolver {
  background-color: var(--green-vogue);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.vista-pagos-agua .imagen-icono-volver {
  background-color: transparent;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.vista-pagos-agua .container-texto-btnVolver {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.vista-pagos-agua .container-tituloAgua {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 147px;
  position: relative;
  margin-bottom: 5%;
}

.vista-pagos-agua .icono-llaveAgua {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.vista-pagos-agua .tituloAgua {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 99px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.vista-pagos-agua .agua-5cZ6Lg {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.vista-pagos-agua .container-selecionEmpresa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 152px;
  min-width: 793px;
  position: relative;
}

.vista-pagos-agua .container-selecionEmpresa-2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 152px;
  min-width: 793px;
  position: relative;
}

.vista-pagos-agua .container-mensajeEmpresa {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: flex-start;
  min-width: 571px;
  position: relative;
}

.vista-pagos-agua .seleccione-la-empres {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.vista-pagos-agua .input-buscar {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 793px;
  background-image: url('../img/vector-37@2x.svg');
  background-position: 20px 31px;
  padding: 18px 20px 14px 54px;
  background-repeat: no-repeat;
  font-size: 20px;
  color: #152654;
}

.vista-pagos-agua .container-icono-texto {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 20px;
  position: relative;
  top: -80px;
  left: 28px;
}

.vista-pagos-agua .icono-lupita {
  background-color: transparent;
  height: 20.7060546875px;
  margin-left: -1px;
  position: relative;
  width: 20.707763671875px;
}

.vista-pagos-agua .buscar-texto-input {
  background-color: transparent;
  flex: 1;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 714px;
}
.input-buscar::placeholder{
  color: #C4C3C3;
  font-size: 20px;
}

.vista-pagos-agua .container-diferentes-empresas {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 704px;
  min-width: 793px;
  position: relative;
}

.vista-pagos-agua .container-empresas {
  background-color: transparent;
  height: 88px;
  position: relative;
  width: 793px;
}

.vista-pagos-agua .grid-container-empresas {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 88px;
  justify-content: space-between;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 793px;
}

.vista-pagos-agua .container-empresasName {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  min-height: 40px;
  min-width: 155px;
  position: relative;
}

.vista-pagos-agua .container-empresasName-2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 155px;
  position: relative;
}

.vista-pagos-agua .nameEmpresa {
  background-color: transparent;
  height: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.vista-pagos-agua .icono-chevron-empresa {
  background-color: transparent;
  height: 86px;
  mix-blend-mode: normal;
  position: relative;
  width: 48px;
}

.vista-pagos-agua .line-9-DtVpKt {
  background-color: transparent;
  /* height: 1px; */
  left: 0px;
  position: absolute;
  top: 88px;
  width: 793px;
}

.vista-pagos-agua .pagos-xLN5Th {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.vista-pagos-agua .frame-23544-YUvLTi {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 184px;
  position: relative;
}

.vista-pagos-agua .frame-23529-lZ2HTy {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 22.90909194946289px;
  height: 56px;
  justify-content: center;
  padding-bottom: 9.163636207580566px;
  padding-left: 3px;
  padding-right: 9.163636207580566px;
  padding-top: 9.163636207580566px;
  position: relative;
  width: 56px;
}

.vista-pagos-agua .frame-23501-i1zk1h {
  background-color: transparent;
  margin-left: -4.081818103790283px;
  margin-right: -2.481842517852783px;
  min-height: 50.39990234375px;
  min-width: 50.4000244140625px;
  position: relative;
}

.vista-pagos-agua .frame-23635-lZ2HTy {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 120px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.vista-pagos-agua .pagos-Pr5TPb {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.vista-pagos-agua .vector-72-YUvLTi {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 793px;
}

.vista-pagos-agua .frame-23676-qw9rcr {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.vista-pagos-agua .frame-12626-UOuVFr {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72px;
  min-width: 168.270263671875px;
  position: relative;
}

.vista-pagos-agua .frame-12790-UOuVFr {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.vista-pagos-agua .group-49-VcKDen {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.vista-pagos-agua .ellipse-8-Aab1rI {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.vista-pagos-agua .group-Aab1rI {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}
