/* screen - 299 */

.x299 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x299 .container-operacionRealizada {
  background-color: transparent;
  height: 616px;
  position: relative;
  width: 678px;
}

.x299 .container-operacionRealizada-2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: 678px;
}

.x299 .operacionRealizada-2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  height: 64px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x299 .icono-operacionRealizada {
  background-color: transparent;
  height: 29.578125px;
  margin-left: -1.059535026550293px;
  position: relative;
  width: 29.880859375px;
}

.x299 .mensaje-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-right: -27.880929946899414px;
  min-height: 48px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x299 .operacin-realizada-exitosamente-BqHKxZ {
  -webkit-text-stroke: 1px var(--pelorous);
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 592px;
}

.x299 .info-operacionRealizada {
  background-color: transparent;
  height: 544px;
  position: relative;
  width: 678px;
}

.x299 .frame-23623-vnBjee {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 277px;
}

.x299 .facha-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .fecha-7SN2ux {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .cuenta-de-ahorros-7SN2ux {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .hora-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .hora-7L2qeW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .x1300-7L2qeW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .cuentaOrigen-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .cuenta-de-origen-hsswfM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .x1234-0987-6543-0987-hsswfM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .titular-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .titular-de-servicio-UDxdGU {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .pamela-salas-UDxdGU {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .tipoM-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .tipo-de-moneda-T8xtds {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .soles-T8xtds {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .entidad-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .entidad-IbxYxy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .sedapal-IbxYxy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .descripcion-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 48px;
  position: relative;
  width: 245px;
}

.x299 .descripcin-de-la-deuda-oSis3Z {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .sedapal-sa-oSis3Z {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 106px;
}

.x299 .monto-operacionRealizada {
  align-items: center;
  background-color:#f3f3f7;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 544px;
  justify-content: center;
  left: 266px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 412px;
}

.x299 .monto-operacionRealizada-2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 196px;
  min-width: 246px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .frame-23638-UeNoJR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 104px;
  min-width: 183px;
  position: relative;
}

.x299 .frame-23625-fZVo5E {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 38px;
  min-width: 96px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .monto-cee6ES {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23626-fZVo5E {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 66px;
  min-width: 183px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .s10000-b6qnCO {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .comision-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 226px;
  position: relative;
}

.x299 .comision-info {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 23px;
  position: relative;
  width: 206px;
}

.x299 .comisin-mv5ysg {
  background-color: transparent;
  flex: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 130px;
}

.x299 .s500-mv5ysg {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .montoT-operacionRealizada {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 23px;
  min-width: 226px;
  position: relative;
}

.x299 .monto-xpytmi {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 128px;
}

.x299 .s10000-xpytmi {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}
