/* screen - 299 */

.x299 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x299 .pagos-FIK565 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 316px;
}

.x299 .frame-23518-bWt7np {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23511-hpLZpu {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23506-PcIzja {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x299 .frame-23500-F55SgR {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x299 .mis-productos-F55SgR {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23525-bWt7np {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23511-6Md2K3 {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23506-zeZqxQ {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x299 .frame-23501-eFWHVM {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x299 .pagos-eFWHVM {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23526-bWt7np {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23511-AwRI2J {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23506-ZjxzeS {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x299 .frame-23502-63Vxce {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x299 .transferencia-63Vxce {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23522-bWt7np {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23511-5zYBXq {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23506-ypZMFx {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x299 .frame-23519-i6DILA {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x299 .desembolso-de-lneas-i6DILA {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x299 .frame-23523-bWt7np {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23511-qDGrRJ {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23506-NpF4YI {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x299 .frame-23520-QxXxji {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x299 .abrir-depsito-a-plazo-fijo-QxXxji {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x299 .frame-23527-bWt7np {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23511-7RgGq3 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x299 .frame-23506-Ucmkux {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x299 .frame-23513-GXCxgM {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x299 .configuracin-GXCxgM {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .pagos-pXix36 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.x299 .frame-23544-xgTf63 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 184px;
  position: relative;
}

.x299 .frame-23529-0zapkQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 22.90909194946289px;
  height: 56px;
  justify-content: center;
  padding-bottom: 9.163636207580566px;
  padding-left: 3px;
  padding-right: 9.163636207580566px;
  padding-top: 9.163636207580566px;
  position: relative;
  width: 56px;
}

.x299 .frame-23501-GdUHy5 {
  background-color: transparent;
  margin-left: -4.081818103790283px;
  margin-right: -2.481720447540283px;
  min-height: 50.39990234375px;
  min-width: 50.39990234375px;
  position: relative;
}

.x299 .frame-23635-0zapkQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 120px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .pagos-zi3O30 {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x299 .vector-72-xgTf63 {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 793px;
}

.x299 .frame-23676-FIK565 {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x299 .frame-12626-MfkkEi {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72px;
  min-width: 168.2705078125px;
  position: relative;
}

.x299 .frame-12790-MfkkEi {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x299 .group-49-AcuFCA {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x299 .ellipse-8-HdXpTo {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x299 .group-HdXpTo {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x299 .frame-23798-FIK565 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 384px;
}

.x299 .frame-23534-fKRjSb {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  position: relative;
  width: 793px;
}

.x299 .frame-23534-7mxUc7 {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 23px 0px 0px 23px;
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 198px;
}

.x299 .servicios-l8JVzp {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23533-7mxUc7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 198px;
}

.x299 .instituciones-avhd7Y {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23535-7mxUc7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 199px;
}

.x299 .de-crditos-MPxwS6 {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23536-7mxUc7 {
  align-items: center;
  background-color: transparent;
  border-radius: 0px 23px 23px 0px;
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 198px;
}

.x299 .recargas-bv1XYH {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23538-fKRjSb {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 124px;
  position: relative;
}

.x299 .group-12633-xKbFiK {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x299 .ellipse-9-xKiL5A {
  background-color: var(--green-vogue);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.x299 .vector-xKiL5A {
  background-color: transparent;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.x299 .volver-xKbFiK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .span0-ktZv0g {
}

.x299 .span1-ktZv0g {
}

.x299 .frame-23798-fKRjSb {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48.00000762939453px;
  min-width: 430px;
  position: relative;
}

.x299 .frame-23716-sg6DVk {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x299 .frame-23713-sg6DVk {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 99px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .agua-wxpS5E {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x299 .group-12633-sg6DVk {
  background-color: transparent;
  height: 48.000003814697266px;
  position: relative;
  transform: rotate(-180deg);
  width: 48.000003814697266px;
}

.x299 .ellipse-9-xlkNOD {
  background-color: var(--white);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  transform: rotate(-360.00deg);
  width: 48px;
}

.x299 .vector-xlkNOD {
  background-color: transparent;
  height: 21px;
  left: 17px;
  position: absolute;
  top: 13px;
  transform: rotate(-180.00deg);
  width: 13px;
}

.x299 .frame-23715-sg6DVk {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  margin-right: -1.52587890625e-05px;
  min-width: 235px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .sedapar-sa-YEfne0 {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x299 .group-12636-variant3-fKRjSb {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 793px;
}

.x299 .componente-2-PPeB2A {
  background-color: transparent;
  height: 5px;
  left: 43px;
  position: absolute;
  top: 19px;
  width: 708px;
}

.x299 .componente-5-PPeB2A {
  background-color: transparent;
  height: 48px;
  left: 745px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x299 .componente-4-PPeB2A {
  background-color: transparent;
  height: 48px;
  left: 373px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x299 .componente-3-PPeB2A {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x299 .frame-23799-fKRjSb {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 712px;
  mix-blend-mode: normal;
  padding-bottom: 48px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 48px;
  position: relative;
  width: 792px;
}

.x299 .group-12761-NQq0Li {
  background-color: transparent;
  height: 616px;
  position: relative;
  width: 678px;
}

.x299 .frame-12755-2dhvoB {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: 678px;
}

.x299 .frame-23642-HsCX58 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  height: 64px;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x299 .group-12765-01d6i5 {
  background-color: transparent;
  height: 29.578125px;
  margin-left: -1.059535026550293px;
  position: relative;
  width: 29.880859375px;
}

.x299 .frame-23640-01d6i5 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-right: -27.880929946899414px;
  min-height: 48px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x299 .operacin-realizada-exitosamente-BqHKxZ {
  -webkit-text-stroke: 1px var(--pelorous);
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 592px;
}

.x299 .group-12754-HsCX58 {
  background-color: transparent;
  height: 544px;
  position: relative;
  width: 678px;
}

.x299 .frame-23623-vnBjee {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 277px;
}

.x299 .frame-23616-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .fecha-7SN2ux {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .cuenta-de-ahorros-7SN2ux {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23617-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .hora-7L2qeW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .x1300-7L2qeW {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23620-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .cuenta-de-origen-hsswfM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .x1234-0987-6543-0987-hsswfM {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23621-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .titular-de-servicio-UDxdGU {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .pamela-salas-UDxdGU {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23622-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .tipo-de-moneda-T8xtds {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .soles-T8xtds {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23623-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 51px;
  position: relative;
  width: 245px;
}

.x299 .entidad-IbxYxy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .sedapal-IbxYxy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23624-qFakZ8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  min-height: 48px;
  position: relative;
  width: 245px;
}

.x299 .descripcin-de-la-deuda-oSis3Z {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .sedapal-sa-oSis3Z {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 106px;
}

.x299 .frame-23627-vnBjee {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 544px;
  justify-content: center;
  left: 266px;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  width: 412px;
}

.x299 .frame-23637-FnSBEG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 196px;
  min-width: 246px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .frame-23638-UeNoJR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 104px;
  min-width: 183px;
  position: relative;
}

.x299 .frame-23625-fZVo5E {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 38px;
  min-width: 96px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .monto-cee6ES {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23626-fZVo5E {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 66px;
  min-width: 183px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x299 .s10000-b6qnCO {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23639-UeNoJR {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 226px;
  position: relative;
}

.x299 .frame-106-bXHtYO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 23px;
  position: relative;
  width: 206px;
}

.x299 .comisin-mv5ysg {
  background-color: transparent;
  flex: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 130px;
}

.x299 .s500-mv5ysg {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-105-bXHtYO {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  min-height: 23px;
  min-width: 226px;
  position: relative;
}

.x299 .monto-xpytmi {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 128px;
}

.x299 .s10000-xpytmi {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x299 .frame-23759-fKRjSb {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 200px;
  position: relative;
  width: 793px;
}

.x299 .frame-23537-default-2RzgXw {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x299 .actualizar-Vnh97I {
  background-color: transparent;
  height: 34px;
  letter-spacing: -0.30px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x299 .frame-23537-variant2-2RzgXw {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x299 .actualizar-dlwPZ6 {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
