/* screen - 223 */

.x223 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x223 .producto-jjExfd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 316px;
}

.x223 .frame-23518-lQ24WK {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23511-aG8uTN {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23506-Tz7Ac9 {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x223 .frame-23500-aa6qsZ {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x223 .mis-productos-aa6qsZ {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23525-lQ24WK {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23511-7c7rx4 {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23506-ngxWiP {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x223 .frame-23501-Pzunxq {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x223 .pagos-Pzunxq {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23526-lQ24WK {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23511-6qclNc {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23506-pH61pm {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x223 .frame-23502-IasHAK {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x223 .transferencia-IasHAK {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23522-lQ24WK {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23511-dAMixU {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23506-d50yWI {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x223 .frame-23519-RdAvJM {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x223 .desembolso-de-lneas-RdAvJM {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x223 .frame-23523-lQ24WK {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23511-JxAzdN {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23506-xqRFzk {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x223 .frame-23520-rmGxyD {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x223 .abrir-depsito-a-plazo-fijo-rmGxyD {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x223 .frame-23527-lQ24WK {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23511-cDpudL {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x223 .frame-23506-3exaHX {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x223 .frame-23513-RxGJMm {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x223 .configuracin-RxGJMm {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23538-jjExfd {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 368px;
}

.x223 .group-12633-tbnBJx {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x223 .ellipse-9-5BdgF2 {
  background-color: var(--green-vogue);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.x223 .vector-5BdgF2 {
  background-color: transparent;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.x223 .volver-tbnBJx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .span0-NLt3vH {
}

.x223 .span1-NLt3vH {
}

.x223 .frame-23676-jjExfd {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x223 .frame-12626-fH3YjD {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72px;
  min-width: 168.2705078125px;
  position: relative;
}

.x223 .frame-12790-fH3YjD {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x223 .group-49-didSit {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x223 .ellipse-8-sELxwm {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x223 .group-sELxwm {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x223 .producto-vIcFQy {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.x223 .frame-23545-Tkx3Ud {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 242px;
  position: relative;
}

.x223 .frame-23527-pJ6DWO {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 22.90909194946289px;
  height: 56px;
  justify-content: center;
  padding-bottom: 9.163636207580566px;
  padding-left: 9.163636207580566px;
  padding-right: 9.163636207580566px;
  padding-top: 9.163636207580566px;
  position: relative;
  width: 56px;
}

.x223 .frame-1277-3j0Q7W {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 22.551136016845703px;
  height: 50.400001525878906px;
  justify-content: center;
  margin-left: -6.363636255264282px;
  margin-right: -6.363637685775757px;
  position: relative;
  width: 50.400001525878906px;
}

.x223 .icon-credit_card-81lkxV {
  background-color: transparent;
  margin-left: -0.7999992370605469px;
  min-height: 50.39990234375px;
  min-width: 50.39990234375px;
  position: relative;
}

.x223 .frame-23636-pJ6DWO {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 178px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .producto-3bPaa2 {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x223 .vector-72-Tkx3Ud {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 793px;
}

.x223 .frame-23693-jjExfd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 456px;
}

.x223 .frame-23716-poFDwm {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48.00000762939453px;
  min-width: 768px;
  position: relative;
}

.x223 .frame-23714-mM6X2d {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x223 .frame-23713-mM6X2d {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 480px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .abrir-nueva-cuenta-de-ahorros-wGSIsi {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x223 .group-12633-mM6X2d {
  background-color: transparent;
  height: 48.000003814697266px;
  position: relative;
  transform: rotate(-180deg);
  width: 48.000003814697266px;
}

.x223 .ellipse-9-MZtxSw {
  background-color: var(--white);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  transform: rotate(-360.00deg);
  width: 48px;
}

.x223 .vector-MZtxSw {
  background-color: transparent;
  height: 21px;
  left: 17px;
  position: absolute;
  top: 13px;
  transform: rotate(-180.00deg);
  width: 13px;
}

.x223 .frame-23715-mM6X2d {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 192px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .caja-digital-cBZT8V {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23695-poFDwm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 1118px;
  min-width: 793px;
  position: relative;
}

.x223 .group-12636-variant2-6aRqYl {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 793px;
}

.x223 .componente-2-7xxtBF {
  background-color: transparent;
  height: 5px;
  left: 43px;
  position: absolute;
  top: 19px;
  width: 708px;
}

.x223 .componente-5-7xxtBF {
  background-color: transparent;
  height: 48px;
  left: 745px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x223 .componente-4-7xxtBF {
  background-color: transparent;
  height: 48px;
  left: 373px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x223 .componente-3-7xxtBF {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x223 .frame-23756-6aRqYl {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 452px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .confirma-el-detalle-de-tu-nueva-cuenta-u32wDn {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .frame-23734-6aRqYl {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 934px;
  mix-blend-mode: normal;
  padding-bottom: 46px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 48px;
  position: relative;
  width: 793px;
}

.x223 .frame-23741-xtZqYT {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
  width: 677px;
}

.x223 .line-7-7l4tZ0 {
  background-color: transparent;
  height: 80px;
  margin-left: -0.5000017484558157px;
  position: relative;
  width: 1px;
}

.x223 .frame-23744-7l4tZ0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  min-width: 196px;
  position: relative;
}

.x223 .frame-23742-nZE58F {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 166px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .tipo-de-cuenta-dItjWQ {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .frame-23743-nZE58F {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 196px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .cuenta-de-ahorros-yAIodb {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .line-1-7l4tZ0 {
  background-color: transparent;
  height: 80px;
  position: relative;
  width: 1px;
}

.x223 .frame-23746-7l4tZ0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  min-width: 97px;
  position: relative;
}

.x223 .frame-23742-zBgSvE {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 97px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .moneda-vQsMlR {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .frame-23743-zBgSvE {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 69px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .soles-6dRBTd {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .line-4-7l4tZ0 {
  background-color: transparent;
  height: 80px;
  position: relative;
  width: 1px;
}

.x223 .frame-23747-7l4tZ0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  min-width: 159px;
  position: relative;
}

.x223 .frame-23742-a1HSPv {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 159px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .departamento-Gzffcd {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .frame-23743-a1HSPv {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 66px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .lima-6flCFb {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .line-5-7l4tZ0 {
  background-color: transparent;
  height: 80px;
  position: relative;
  width: 1px;
}

.x223 .frame-23748-7l4tZ0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  min-height: 80px;
  min-width: 109px;
  position: relative;
}

.x223 .frame-23742-oQWsvl {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 109px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .provincia-RLiLDN {
  background-color: transparent;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .frame-23743-oQWsvl {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 66px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .lima-mH6Ssx {
  background-color: transparent;
  height: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .line-6-7l4tZ0 {
  background-color: transparent;
  height: 80px;
  margin-right: -0.4999982515441843px;
  position: relative;
  width: 1px;
}

.x223 .frame-23759-xtZqYT {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 72px;
  justify-content: flex-start;
  min-width: 677px;
  position: relative;
}

.x223 .los-documentos-relac-gcHm2F {
  background-color: transparent;
  height: 50px;
  letter-spacing: 0.00px;
  line-height: 25px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 677px;
}

.x223 .span0-U6CLFF {
}

.x223 .span1-U6CLFF {
}

.x223 .frame-23751-xtZqYT {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-height: 88px;
  position: relative;
  width: 677px;
}

.x223 .frame-23752-TA2wst {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48px;
  min-width: 297px;
  position: relative;
}

.x223 .frame-23750-VSHTy1 {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x223 .frame-23749-VSHTy1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 21px;
  min-width: 249px;
  position: relative;
}

.x223 .enviar-a-otro-correo-eletronico-sQk76X {
  background-color: transparent;
  color: var(--pelorous);
  font-family: var(--font-family-ubuntu);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .activo-default-TA2wst {
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  height: 88px;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x223 .escribir-texto-imput-mkxn38 {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23753-xtZqYT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 64px;
  justify-content: center;
  padding-right: 10px;
  position: relative;
  width: 677px;
}

.x223 .frame-23752-kotyHx {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  margin-bottom: -1px;
  margin-top: -1px;
  min-height: 66px;
  min-width: 677px;
  position: relative;
}

.x223 .frame-23750-eUbmxh {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x223 .frame-23749-eUbmxh {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 66px;
  min-width: 629px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .acepta-los-trminos-y-fbcPkA {
  background-color: transparent;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 629px;
}

.x223 .frame-23758-xtZqYT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  min-height: 208px;
  min-width: 677px;
  position: relative;
}

.x223 .frame-23553-default-wAlbTS {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  min-height: 144px;
  min-width: 677px;
  padding-top: 8px;
  position: relative;
}

.x223 .frame-23642-NS2K32 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  min-width: 72px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x223 .texto-vaJmZW {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x223 .inactivo-NS2K32 {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x223 .escribir-texto-imput-3IvyU7 {
  background-color: transparent;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x223 .grupo-767-wAlbTS {
  background-color: transparent;
  height: 40px;
  position: relative;
  width: 402.88092041015625px;
}

.x223 .frame-23628-myaRZ4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: 403px;
}

.x223 .group-12764-PWLzv0 {
  background-color: transparent;
  height: 29.5780029296875px;
  margin-left: -1.059535026550293px;
  position: relative;
  width: 29.880859375px;
}

.x223 .clave-capturada-correctamente-PWLzv0 {
  -webkit-text-stroke: 1px var(--limeade-2);
  background-color: transparent;
  height: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -7.62939453125e-06px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x223 .frame-23572-xtZqYT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  min-height: 88px;
  min-width: 676px;
  position: relative;
}

.x223 .frame-23537-variant3-bYzOb6 {
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x223 .actualizar-d0fZxR {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x223 .frame-23537-default-bYzOb6 {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x223 .actualizar-FHxZFO {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
