/* screen - 39 */

.x39 {
  background-color: var(--white);
  height: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.x39 .producto-rXwrWs {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 316px;
}

.x39 .frame-23518-9PzH72 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23511-HY8QSx {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23506-QGuqpx {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x39 .frame-23500-azlejK {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x39 .mis-productos-azlejK {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x39 .frame-23525-9PzH72 {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23511-0P9wmC {
  align-items: center;
  background-color: var(--green-vogue);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23506-Ey4Ro4 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x39 .frame-23501-qN4Ndk {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x39 .pagos-qN4Ndk {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x39 .frame-23526-9PzH72 {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23511-mxLBon {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23506-OLFuZK {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x39 .frame-23502-11vPO5 {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x39 .transferencia-11vPO5 {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x39 .frame-23522-9PzH72 {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23511-r5L10I {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23506-VrgG0v {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x39 .frame-23519-uI7El9 {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x39 .desembolso-de-lneas-uI7El9 {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x39 .frame-23523-9PzH72 {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23511-xR0cwE {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23506-bEoexx {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x39 .frame-23520-vJY2gt {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x39 .abrir-depsito-a-plazo-fijo-vJY2gt {
  background-color: transparent;
  height: 44px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: auto;
}

.x39 .frame-23527-9PzH72 {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23511-JzmkiG {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-height: 104px;
  min-width: 144px;
  mix-blend-mode: normal;
  position: relative;
}

.x39 .frame-23506-5trvEw {
  align-items: center;
  background-color: var(--athens-gray);
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 104px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  width: 144px;
}

.x39 .frame-23513-UqvbMA {
  background-color: transparent;
  min-height: 22px;
  min-width: 22px;
  position: relative;
}

.x39 .configuracin-UqvbMA {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.x39 .frame-23538-rXwrWs {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  left: 222px;
  position: absolute;
  top: 368px;
}

.x39 .group-12633-hPx10Z {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x39 .ellipse-9-Xy3WWN {
  background-color: var(--green-vogue);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.x39 .vector-Xy3WWN {
  background-color: transparent;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.x39 .volver-hPx10Z {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x39 .span0-3RCkmY {
}

.x39 .span1-3RCkmY {
}

.x39 .frame-23676-rXwrWs {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 186px;
  justify-content: space-between;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  width: 1080px;
}

.x39 .frame-12626-ANs9g0 {
  background-color: transparent;
  margin-left: -0.3648681640625px;
  min-height: 72px;
  min-width: 168.270263671875px;
  position: relative;
}

.x39 .frame-12790-ANs9g0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 72px;
  min-width: 72px;
  position: relative;
}

.x39 .group-49-UvH7X8 {
  background-color: transparent;
  height: 72px;
  position: relative;
  width: 72px;
}

.x39 .ellipse-8-Jk5sn5 {
  background-color: transparent;
  border-radius: 36px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}

.x39 .group-Jk5sn5 {
  background-color: transparent;
  height: 38px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 28px;
}

.x39 .producto-Njkvr6 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 264px;
}

.x39 .frame-23545-FA6MVp {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  min-height: 56px;
  min-width: 242px;
  position: relative;
}

.x39 .frame-23527-9kWKx2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 22.90909194946289px;
  height: 56px;
  justify-content: center;
  padding-bottom: 9.163636207580566px;
  padding-left: 9.163636207580566px;
  padding-right: 9.163636207580566px;
  padding-top: 9.163636207580566px;
  position: relative;
  width: 56px;
}

.x39 .frame-1277-1agb1s {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 22.551136016845703px;
  height: 50.400001525878906px;
  justify-content: center;
  margin-left: -6.363636255264282px;
  margin-right: -6.363637685775757px;
  position: relative;
  width: 50.400001525878906px;
}

.x39 .icon-credit_card-rL9w56 {
  background-color: transparent;
  margin-left: -0.7999992370605469px;
  min-height: 50.39990234375px;
  min-width: 50.39990234375px;
  position: relative;
}

.x39 .frame-23636-9kWKx2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  min-width: 178px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .producto-pxOKNi {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x39 .vector-72-FA6MVp {
  background-color: transparent;
  height: 1px;
  position: relative;
  width: 793px;
}

.x39 .frame-23693-rXwrWs {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  left: 225px;
  position: absolute;
  top: 456px;
}

.x39 .frame-23716-uQvUJz {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  min-height: 48.00000762939453px;
  min-width: 768px;
  position: relative;
}

.x39 .frame-23714-R3j3H4 {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 48px;
}

.x39 .frame-23713-R3j3H4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 480px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .abrir-nueva-cuenta-de-ahorros-tVsyJY {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x39 .group-12633-R3j3H4 {
  background-color: transparent;
  height: 48.000003814697266px;
  position: relative;
  transform: rotate(-180deg);
  width: 48.000003814697266px;
}

.x39 .ellipse-9-PXymAf {
  background-color: var(--white);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  transform: rotate(-360.00deg);
  width: 48px;
}

.x39 .vector-PXymAf {
  background-color: transparent;
  height: 21px;
  left: 17px;
  position: absolute;
  top: 13px;
  transform: rotate(-180.00deg);
  width: 13px;
}

.x39 .frame-23715-R3j3H4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 192px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .caja-digital-jscmRh {
  background-color: transparent;
  height: 38px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x39 .frame-23695-uQvUJz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  min-height: 694px;
  min-width: 793px;
  position: relative;
}

.x39 .group-12636-default-65xd7E {
  background-color: transparent;
  height: 48px;
  position: relative;
  width: 793px;
}

.x39 .componente-2-cWeOxm {
  background-color: transparent;
  height: 5px;
  left: 43px;
  position: absolute;
  top: 19px;
  width: 708px;
}

.x39 .componente-5-cWeOxm {
  background-color: transparent;
  height: 48px;
  left: 745px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x39 .componente-4-cWeOxm {
  background-color: transparent;
  height: 48px;
  left: 373px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x39 .componente-3-cWeOxm {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 48px;
}

.x39 .frame-23734-65xd7E {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  justify-content: flex-start;
  min-height: 598px;
  mix-blend-mode: normal;
  padding-bottom: 46px;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 46px;
  position: relative;
  width: 793px;
}

.x39 .frame-23729-WQ8Rxg {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  min-height: 340px;
  min-width: 677px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .frame-23733-sZ9UOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x39 .frame-23730-gzuvwe {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 176px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .tipo-de-moneda-ph2OXu {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x39 .group-99-gzuvwe {
  background-color: transparent;
  height: 64px;
  position: relative;
  width: 326px;
}

.x39 .rectangle-29-lTf7wv {
  background-color: var(--pelorous);
  border-radius: 15px;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 326px;
}

.x39 .rectangle-30-lTf7wv {
  background-color: transparent;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 163px;
}

.x39 .soles-lTf7wv {
  background-color: transparent;
  height: 34px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 38px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 163px;
}

.x39 .dlares-lTf7wv {
  background-color: transparent;
  height: 21px;
  left: 163px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 163px;
}

.x39 .frame-23731-sZ9UOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 64px;
  justify-content: flex-start;
  min-width: 148px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .frame-23730-aMTLeY {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: flex-start;
  min-width: 106px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.x39 .ubicacin-UvkTxm {
  background-color: transparent;
  height: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.x39 .frame-12733-aMTLeY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10.666666984558105px;
  justify-content: flex-start;
  min-height: 32px;
  min-width: 32px;
  position: relative;
}

.x39 .group-12732-JGy6Ed {
  background-color: transparent;
  height: 32px;
  position: relative;
  width: 32px;
}

.x39 .group-91-lLzDO9 {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.x39 .ellipse-9-vPzMfZ {
  background-color: var(--green-vogue);
  border-radius: 16px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 32px;
}

.x39 .group-97-lLzDO9 {
  background-color: transparent;
  height: 18px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 10px;
}

.x39 .frame-23728-sZ9UOM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 23px;
  justify-content: flex-start;
  min-height: 88px;
  min-width: 677px;
  position: relative;
}

.x39 .inactivo-JR4aiG {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 15px;
  display: flex;
  height: 88px;
  justify-content: space-between;
  mix-blend-mode: normal;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 327px;
}

.x39 .departamento-NZztgk {
  background-color: transparent;
  color: var(--green-vogue);
  font-family: var(--font-family-ubuntu);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x39 .vector-NZztgk {
  background-color: transparent;
  height: 14.05322265625px;
  margin-right: -0.11532754979526771px;
  mix-blend-mode: normal;
  position: relative;
  width: 25.230712890625px;
}

.x39 .inactivo-JlxOVD {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 15px;
  display: flex;
  height: 88px;
  justify-content: space-between;
  mix-blend-mode: normal;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  position: relative;
  width: 327px;
}

.x39 .provincia-8jxxjx {
  background-color: transparent;
  color: var(--green-vogue);
  font-family: var(--font-family-ubuntu);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.x39 .vector-8jxxjx {
  background-color: transparent;
  height: 14.05322265625px;
  margin-right: -0.11532754979526771px;
  mix-blend-mode: normal;
  position: relative;
  width: 25.230712890625px;
}

.x39 .frame-23732-sZ9UOM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  min-height: 56px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 677px;
}

.x39 .si-realizas-operacio-GQxi2X {
  background-color: transparent;
  color: #c42227;
  font-family: var(--font-family-ubuntu);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 677px;
}

.x39 .frame-23537-default-WQ8Rxg {
  align-items: center;
  background-color: var(--pelorous);
  border-radius: 20px;
  display: flex;
  gap: 0px;
  height: 88px;
  justify-content: center;
  mix-blend-mode: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 326px;
}

.x39 .actualizar-r3thUy {
  background-color: transparent;
  height: 34px;
  letter-spacing: 0.00px;
  line-height: 33.2px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
